nav {
    .thiagu-interno {
        p {
            font-size: 20px;
            color: red;
        }

        .classe-nova {
            background: purple;
        }
    }

    .rodrigo-interno {
        p {
            font-size: 15px;
            color: aqua;
        }
    }
}

#secao-1 {
    div {
        div {
            div {
                div {
                    div {}
                }
            }
        }
    }
}

#secao-2 {}

#secao-3 {}